{% load static %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login</title>

    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    <link rel="stylesheet" href="{% static 'admin/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/ionicons.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/datepicker3.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/all.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/select2.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/dataTables.bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/jquery.fancybox.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/AdminLTE.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/_all-skins.min.css' %}">
	<link rel="stylesheet" href="{% static 'admin/css/on-off-switch.css' %}" />
	<link rel="stylesheet" href="{% static 'admin/css/summernote.css' %}">
	<link rel="stylesheet" href="{% static 'admin/style.css' %}">

</head>

<body class="hold-transition login-page sidebar-mini">

    <div class="login-box">
        <div class="login-logo">
            <b>Super Admin Panel</b>
        </div>
        <div class="login-box-body">
            <p class="login-box-msg">Log in to start your session</p>
			{% include 'admin/basic/messages.html' %}
            <form action="{% url 'admin_login_check' %}" method="post">
				{% csrf_token %}
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="Email address" name="email" type="email" autocomplete="off"
                        autofocus>
                </div>
                <div class="form-group has-feedback">
                    <input class="form-control" placeholder="Password" name="password" type="password"
                        autocomplete="off" value="">
                </div>
                <div class="row">
                    <div class="col-xs-8"></div>
                    <div class="col-xs-4">
                        <input type="submit" class="btn btn-success btn-block btn-flat login-button" name="form1"
                            value="Log In">
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="{% static 'admin/js/jquery-2.2.4.min.js' %}"></script>
	<script src="{% static 'admin/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'admin/js/jquery.dataTables.min.js' %}"></script>
	<script src="{% static 'admin/js/dataTables.bootstrap.min.js' %}"></script>
	<script src="{% static 'admin/js/select2.full.min.js' %}"></script>
	<script src="{% static 'admin/js/jquery.inputmask.js' %}"></script>
	<script src="{% static 'admin/js/jquery.inputmask.date.extensions.js' %}"></script>
	<script src="{% static 'admin/js/jquery.inputmask.extensions.js' %}"></script>
	<script src="{% static 'admin/js/moment.min.js' %}"></script>
	<script src="{% static 'admin/js/bootstrap-datepicker.js' %}"></script>
	<script src="{% static 'admin/js/icheck.min.js' %}"></script>
	<script src="{% static 'admin/js/fastclick.js' %}"></script>
	<script src="{% static 'admin/js/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'admin/js/jquery.slimscroll.min.js' %}"></script>
	<script src="{% static 'admin/js/jquery.fancybox.pack.js' %}"></script>
	<script src="{% static 'admin/js/app.min.js' %}"></script>
	<script src="{% static 'admin/js/jscolor.js' %}"></script>
	<script src="{% static 'admin/js/on-off-switch.js' %}"></script>
	<script src="{% static 'admin/js/on-off-switch-onload.js' %}"></script>
	<script src="{% static 'admin/js/clipboard.min.js' %}"></script>
	<script src="{% static 'admin/js/demo.js' %}"></script>
	<script src="{% static 'admin/js/summernote.js' %}"></script>
</body>

</html>