<div class="user-sidebar">
    <ul>
        <a href="{% url 'user_dashboard' %}"><button class="btn btn-danger" style="margin-top: 10px;">Dashboard</button></a>
        <a href="{% url 'update_profile' %}"><button class="btn btn-danger" style="margin-top: 10px;">Update
                Profile</button></a>
        <a href="{% url 'update_password' %}"><button class="btn btn-danger" style="margin-top: 10px;">Update
                Password</button></a>
        <a href="{% url 'user_orders' %}"><button class="btn btn-danger" style="margin-top: 10px;">Orders</button></a>
        <a href="{% url 'user_logout' %}"><button class="btn btn-danger" style="margin-top: 10px;">Logout</button></a>
    </ul>
</div>