<section class="home-newsletter">
    <div class="container">
        <div class="row">
            <marquee>
                <h2 style="text-align: center; color: white;"> Mohmand Marble Zone </h2>
            </marquee>
        </div>
    </div>
</section>

<div class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-12 copyright">
                {{get_footer_contact.footer_copyright}} </div>
        </div>
    </div>
</div>

<a href="#" class="scrollup">
    <i class="fa fa-angle-up"></i>
</a>