<div class="nav">
    <div class="container">
        <div class="row">
            <div class="col-md-12 pl_0 pr_0">
                <div class="menu-container">
                    <div class="menu">
                        <ul>
                            <li><a href="{% url 'index' %}">Home</a></li>
                            {% for i in top_categories %}
                            <li>
                                <a href="{% url 'product_category' %}">{{i.top_category_name}}</a>
                            </li>
                            {% endfor %}
                            <li><a href="{% url 'about_us' %}">About Us</a></li>
                            <li><a href="{% url 'faq' %}">FAQ</a></li>

                            <li><a href="{% url 'contact_us' %}">Contact Us</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>