<!-- top bar -->
<div class="top">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="left">
                    <ul>
                        <li><i class="fa fa-phone"></i> {{get_footer_contact.contact_no}} </li>
                        <li><i class="fa fa-envelope-o"></i> {{get_footer_contact.contact_email}} </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="right">
                    <ul>
                        <li><a href="{{get_social_links.facebook}}" target="__blank"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="{{get_social_links.watsapp}}"><i class="fa fa-whatsapp"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>