{% extends 'basic/basic.html' %}

{% load static %}

{% block content %}

    {% include 'basic/top_navbar.html' %}

      {% include 'basic/center_navbar.html' %}
      
      {% include 'basic/main_navbar.html' %}

	<div class="page-banner" style="background-image: url({% static 'assets/uploads/about-banner.jpeg' %});">
		<div class="inner">
			<h1>About Us</h1>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<p>
					<h3 style="border: 0px solid; margin-top: 1.5rem; margin-bottom: 0px;">Welcome To Mohmand Marble Zone </h3>
					<p style="border: 0px solid; margin-top: 1.5rem; margin-bottom: 0px;"><br></p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						All Marble is a direct importer, Slabs, Marble, and
						products for bathrooms, kitchens, etc... All Marble is a Khyber Pakhtunkhuwa
						based company with a Warehouse and showroom located in Peshawar, Shabqadar Mohmand.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						Creating a bathroom that is aesthetically pleasing is all related to the finish of the marble you
						choose to install. As a company we pride ourselves as one of the few bathroom Marble companies in
						New Jersey offering the best flooring solutions for all your home renovation projects. We offer
						a wide range of great quality bathroom decor to fit all of your personal tastes and preferences.
						One unique quality you will identify with us is the ability to offer a wide variety of high
						quality material that you can't find anywhere else.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						Our wide marble collection is a great choice in creating a beautiful serene looking space.
						Marble is a wonderful option that we recommend to our clients as marble flawlessly blends with
						your floor creating an attractive high end appearance.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						Besides marble we also offer a variety of options such as floor Marble, borders, flowers
						tiles, porcelain, and mosaics. We leave it to the customer to choose the material they prefer
						and we are also happy to help and assess your home and give a couple of tips on which floor Marble
						will suit it best.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						Our Travertine tiles are a perfect choice for those who want to create a natural look in their
						bathroom. Travertine does not glitter like marble which makes it ideal when you want a toned
						down and neat look.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						Porcelain tiles have been around for a while and as a bathroom tile company, we believe we have
						some of the best porcelain tile options in Shabqadar. We provide tough and natural looking tiles
						that will neatly carpet every square inch of the bathing area. If you want something different
						from porcelain, you can never go wrong with glass tiles; especially when looking for a unique
						look for your bathing area.&nbsp;</p>
					<p
						style="margin-bottom: 15px; color: rgb(83, 83, 83); font-family: Raleway, sans-serif; font-size: 14px;">
						We can deliver the tiles right to your doorstep if you are a resident of Shabqadar. Once you
						make your purchases, we will organize the best transport for your tiles and ship them out in 1-3
						days.&nbsp;</p>
					<p style="">We make sure you get the best quality outfits with hassle free returns and exchanges
						policy. We ensure what you see is exactly what you get!</p>
					<ul>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">Low Price
									Guarantee</span></font>
						</li>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">24/7 Customer
									Support</span></font>
						</li>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">E-Mail - Text -
									Call</span></font>
						</li>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">We are here for you
									24/7 online and via phone.</span></font>
						</li>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">Sizing &amp;
									Color</span></font>
						</li>
						<li style="text-align: justify;">
							<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;">Easy Returns</span>
							</font>
						</li>
					</ul>
					<p style="text-align: justify; "><br></p>
					<p style="text-align: justify; ">
						<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;"><b> Mohmand Marble Estate </b></span></font>
					</p>
					<p style="text-align: justify; ">
						<font face="apercu, Arial, sans-serif"><span style="font-size: 14px;"><b>Emails:
									umargul6852@gmail.com</b></span></font>
					</p>
					</p>

				</div>
			</div>
		</div>
	</div>

	{% include 'basic/footer.html' %}

    {% endblock %}