{% extends 'basic/basic.html' %}

{% load static %}

{% block content %}

    {% include 'basic/top_navbar.html' %}

    {% include 'basic/center_navbar.html' %}

    {% include 'basic/main_navbar.html' %}

	<div class="page-banner" style="background-image: url({% static 'assets/uploads/faq-banner.jpeg' %});">
		<div class="inner">
			<h1>FAQ</h1>
		</div>
	</div>

	<div class="page">
		<div class="container">
			<div class="row">
				<div class="col-md-12">

					<div class="panel-group" id="faqAccordion">

						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question1">
								<h4 class="panel-title">
									Q: Which is better, marble tiles or ceramic tiles? </h4>
							</div>
							<div id="question1" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<h3 class="checkout-complete-box font-bold txt16"
										style="box-sizing: inherit; text-rendering: optimizeLegibility; margin: 0.2rem 0px 0.5rem; padding: 0px; line-height: 1.4; background-color: rgb(250, 250, 250);">
										<div
											style="border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600; background-color: rgb(255, 255, 255);">
											Marble is more expensive than ceramic tiles. This is because ceramic tiles
											are man-made while marble is a natural stone which has to be mined and
											extracted using costly procedures. Tiles on the other hand are fare better
											as they can be recycled and are non-toxic. So if you looking for something
											that is affordable and durable surely go for ceramic tiles.</div>
										<div><br></div>
										<div
											style="border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600; background-color: rgb(255, 255, 255);">
										</div>
									</h3>
									<h3
										style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
										<ul
											style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
										</ul>
									</h3>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question2">
								<h4 class="panel-title">
									Q: How thick are marble tiles? </h4>
							</div>
							<div id="question2" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p>
									<h3
										style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<ul
											style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
										</ul>
									</h3>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										Marble Tile thickness ranges from ¼-inch to ¾-inch for residential tiles, while
										commercial marble slabs can be up to 2 inches thick. Quality also varies by
										surface design and density.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question3">
								<h4 class="panel-title">
									Q: Does marble tile break easily? </h4>
							</div>
							<div id="question3" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										Even though it is stone, marble is actually a relatively soft material that can
										be scratched, scraped, and chipped under the wrong conditions. This is
										especially true if the material is polished, as the imperfections will be more
										noticeable in the smooth, flat solid surface. But all of that can be prevented
										by the surface sealer that needs to be reapplied annually after all regural
										maintenance is what needed.&nbsp;</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question4">
								<h4 class="panel-title">
									Q: Is marble tile hard to maintain? </h4>
							</div>
							<div id="question4" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p class="a  "
										style="box-sizing: inherit; text-rendering: optimizeLegibility; line-height: 1.6; margin-bottom: 0.714286rem; padding: 0px; font-size: 14px; color: rgb(10, 10, 10); font-family: opensans, "
										helvetica="" neue",="" helvetica,="" arial,="" sans-serif;=""
										background-color:="" rgb(250,="" 250,="" 250);"="">
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										No, not at all marble tiles are very easy to maintain. Once installed, routine
										maintenance of a marble tile floor is relatively easy—it requires the same kind
										of sweeping and damp mopping you would do with a ceramic tile floor.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question5">
								<h4 class="panel-title">
									Q: How long do marble floor last? </h4>
							</div>
							<div id="question5" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										Although marble is highly durable and its maintenance is also very affordable,
										with regular maintenance and adequate care, marble flooring can remain intact
										for around 25 years.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question6">
								<h4 class="panel-title">
									Q: Is marble better than porcelain tile? </h4>
							</div>
							<div id="question6" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<div
										style="border: 0px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
										<h3
											style="border: 0px; font-size: 1.17em; margin-top: 0px; margin-right: 0px; margin-left: 0px; padding: 0px;">
											<div>
												<div
													style="border: 0px; font-size: 13px; margin: 0px; padding: 0px; font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
													Porcelain tiles are affordable, easy to maintain, durable, and
													suitable for outdoor use. Because marble is a natural, porous stone,
													marble tiles are better suited for interior use. When used as
													flooring, marble tiles should be kept in areas with low- to
													moderate- traffic</div>
												<div><br></div>
												<div
													style="border: 0px; font-size: 13px; margin: 0px; padding: 0px; font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
												</div>
											</div>
										</h3>
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question7">
								<h4 class="panel-title">
									Q: Which marble is best for flooring? </h4>
							</div>
							<div id="question7" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<div
										style="border: 0px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
										Marble was the choice of the royals for its inimitable luxury. This stone comes
										in numerous colours and vein patterns. Being a natural derivative, each slab is
										unique, with its own distinct grain. One can surely go for :-</div>
									<div
										style="border: 0px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
										<ol
											style="border: 0px; margin-right: 0px; margin-bottom: 15px; margin-left: 0px; padding: 0px 0px 0px 15px;">
											<li style="border: 0px; margin: 0px; padding: 0px;">&nbsp;Michelangelo
												Marble Tile 12x12,&nbsp;</li>
											<li style="border: 0px; margin: 0px; padding: 0px;">Nero Canfranc ( Nero
												Marquina ) Marble Tile 18x18,&nbsp;</li>
											<li style="border: 0px; margin: 0px; padding: 0px;">Emperador Dark Marble
												Tile Select 12x12,</li>
											<li style="border: 0px; margin: 0px; padding: 0px;">Rain Forest Brown ( Cafe
												Forest ) Polished Marble Tile 12x12&nbsp;</li>
										</ol>
									</div>
									<div
										style="border: 0px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
										These are one of the best marble tiles according to the recent trends.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question8">
								<h4 class="panel-title">
									Q: Are marbles floor worth it? </h4>
							</div>
							<div id="question8" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										Of course, why not? Natural stone marble flooring is the best choice for indoor
										areas like foyers, halls and bedrooms. If there is one thing that marble
										flooring has above all others, it is elegance. It immediately makes a room seem
										more upscale.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question9">
								<h4 class="panel-title">
									Q: Is marble good for health? </h4>
							</div>
							<div id="question9" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										<h3
											style="box-sizing: border-box; border: 0px; font-size: 1.17em; margin: 0px 0px 10px; padding: 0px;">
											<ul
												style="box-sizing: border-box; border: 0px; font-size: 15.21px; margin: 0px 0px 15px; padding: 0px 0px 0px 15px;">
											</ul>
										</h3>
									</div>
									</p>
									<div
										style="box-sizing: border-box; border: 0px; font-size: 13px; margin: 0px; padding: 0px; color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 600; letter-spacing: normal; orphans: 2; text-align: left; text-indent: 0px; text-transform: none; white-space: normal; widows: 2; word-spacing: 0px; -webkit-text-stroke-width: 0px; background-color: rgb(255, 255, 255); text-decoration-thickness: initial; text-decoration-style: initial; text-decoration-color: initial;">
										Yes, Marbles are best for health and because they are naturally available and
										also because of their non porous nature. Instead of using any kind of artificial
										material like vitrified tiles and ceramic tiles we can use marble flooring since
										they are completely natural and best for youyr health.</div>
									</p>
								</div>
							</div>
						</div>
						<div class="panel panel-default">
							<div class="panel-heading accordion-toggle question-toggle collapsed" data-toggle="collapse"
								data-parent="#faqAccordion" data-target="#question10">
								<h4 class="panel-title">
									Q: Is marble slippery when wet? </h4>
							</div>
							<div id="question10" class="panel-collapse collapse" style="height: 0px;">
								<div class="panel-body">
									<h5><span class="label label-primary">Answer</span></h5>
									<p>
									<div style="border: 0px; margin: 0px; padding: 0px;">Probably no, it completely
										depends on the maintenance of the marble, if the marble is maintained and are
										taken care properly then they are the best flooring material and will not get
										slippery when wet.</div>
									<div style="border: 0px; margin: 0px; padding: 0px;"><br
											style="color: rgb(110, 110, 110); font-family: &quot;open sans&quot;, sans-serif; font-weight: 600;">
									</div>
									</p>
								</div>
							</div>
						</div>

					</div>

				</div>
			</div>
		</div>
	</div>

	{% include 'basic/footer.html' %}

    {% endblock %}